:root {
    --primary-color: #E6AA68;
    --secondary-color: #3F794C;
    --highlight-color: #9CFFFA;
    --text-color: #242038;
    --background-color: #2274a5;
}

.fixed{
    position: fixed;
    z-index: 2;
    width: 100%;
}

body{
    margin: 0;
}

header {
    display: flex;
    padding: 1rem;
    align-items: center;
    background: linear-gradient(to bottom, var(--background-color), rgba(255, 255, 255, 0));
}

main{
    background-color: white;
}
.logo {
    width: 100px;
    border-radius: 100%;
    justify-self: right;
    padding: 1rem;
}

h1 {
    font-size: 20px;
}
nav{
    justify-content: space-between;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    padding: 20px;    
}

.hero-image{
    width: 100%;
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-top: 50px;
    grid-template-rows: 10px 200px 200px;
}
.moving-coolidge{
    color: black;
    font-size: 4rem;
    text-align: center;
    font-family: 'Gilda Display',Georgia,"Times New Roman",serif;
    font-size: 62px;
    line-height: 1.1em;
}

.ruins-cutout{
    grid-column: 2;
    width: 500px;
}

.welcome{
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 11rem;
    grid-row: 3;
    font-size: 2rem;
}

.main-image{
    z-index: 0;
    width: 100%;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
}

.weather-card{
    background-color: white;
}

footer{
    display: flex;
    padding: 0;
    margin-top: 50px;
}

.sidebar-image{
    width: 200px;
}
