body {
    font-family: 'Rock Salt', cursive;
    margin: 0;
    padding: 0;
    background-color: #B3B7EE;
}

header{
    display: grid;
    padding-top: 35px;
    color: #12355B;
    grid-template-columns: 1fr 0.7fr 2fr;
    background: linear-gradient(#420039, #B3B7EE);


}

h1 {
    font-family: 'Cutive', sans-serif;
    font-size: 40px;
    align-self: end;
    padding: 0;
    text-align: center;
}

.profile-picture {
    width: 100px;
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    justify-self: end;
    align-self: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    align-self: center;
}

nav a {
    color: #493267;
    text-decoration: none;
}

nav a:hover {
    color: #A2A3BB; 
}

h2{
    grid-column: 1 / span 2;
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card{
    text-align: center;
    border-color: #A2A3BB;
    border-style: solid;
    border-width: 5px;
    margin: 20px;
}

h2{
    font-size: 50px;
    margin-bottom: 0;
}

.titles{
    font-size: 30px;
}

.assignments{
    list-style-type: none;
    font-family: 'Cutive', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;

}

.assignments a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #A2A3BB; 
}