body {
    font-family: 'Rock Salt', cursive;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

h1 {
    font-family: 'Cutive', sans-serif;
    font-size: 75px;
    grid-row: 1;
    align-self: end;

}

.profilePicture {
    width: 300px;
    border-radius: 50px;
    border-width: 10px;
    border-style: solid;
    border-color: lightblue;
    grid-row: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightblue;
    text-align: center;
}

nav a {
    color: #493267;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid white;
}

h2{
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
}
.card{
    text-align: center;
}