@media screen and (max-width: 840px) {

  header{
    grid-template-columns: 1fr;
  }

  .profile-picture{
    justify-self: center;
  }
  nav{
    margin-left: 50px;
  }

  main{
    grid-template-columns: 1fr;
  }

  .card{
    grid-column: 1;
  }
}
