@media screen and (max-width: 840px) {
    nav {
      flex-direction: column; /* Horizontally aligned on larger screens */
    }
    main{
        display: grid;
        grid-template-columns: 100%;
    }
}