@media screen and (max-width: 840px) {

  header{
    grid-template-columns: 1fr;
  }

  .profile-picture{
    justify-self: center;
  }
  nav{
    margin-left: 50px;
    grid-row: 4;
    display: flex;
    flex-direction: column;
  }

  nav a{
    padding: 10px;
  }

  main{
    grid-template-columns: 1fr;
  }

  .card{
    grid-column: 1;
  }
  .hamburger-menu{
    display: block;
    grid-row: 3;
    background-color: #A2A3BB;


  }
  .hamburger-menu-icon{
    width: 40px;
    height: 40px;
  }

  .hidden{
    display: none;
  }
}

